@model ETicaret.Models.Sipariss

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sipariss</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ÖdemeDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ÖdemeDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeslimTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeslimTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres.AdresId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uye.UyeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SiparisId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
